+identification-block
  +identification-item('Component', component.key)
  +identification-item('System', component.system)
  +identification-item('Responsibility', component.responsible_role)

if component.page
  != component.page.html

if satisfies && satisfies.length
  h2 Satisfies
  +satisfies(satisfies)

if component.references && component.references.length
  h2 References
  ol
    each ref in component.references
      li: a(href=ref.path)= ref.name

