+identification-block
  +identification-item('Control', control.key)
  +identification-item('Standard', control.standard_key)
  +identification-heading('Certifications')
    each certification in certifications
      span.label.label-default #{certification.certification}

if control.description
  h2 Description
  != markdown(control.description)

if mapped_to && mapped_to.length
  h2 Mapped To
  +mapped-to(mapped_to)

if satisfied && satisfied.length
  h2 Satisfied By
  +satisfied(satisfied)
else if certifications && certifications.length
  +warning-block
    | This control is not satisfied by any component
else
  +info-block
    | This control is not referenced in any certification


