+identification-block
  +identification-item('Date', page.data.date)
  +identification-item('Version', page.data.version)
  +identification-item('Author', page.data.author)
  +identification-item('Last changed', page.data.last_changed)

!= page.html
