extends layout

block content
  h1 #{appname}
  p Welcome to #{appname} #{appversion}

  if navinfo && navinfo.toc
    ul
      each item in navinfo.toc.contents
        li: a(href=item.path)= item.title

