include mixins/navigation
include mixins/widgets
include mixins/elements
include mixins/structures
include mixins/tables

- var bootstrap = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css';

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='vieport', content='width=device-width, initial-scale=1')
    block stylesheets
      +stylesheet(bootstrap)
      +stylesheet('/css/style.css')
    title
      if navinfo && navinfo.title
        | #{navinfo.title} - #{appname}
      else
        | #{appname}
  body
    block body
      div.container-fluid
        include parts/navbar
        div.row
          div.col-xs-3
            block sidepane
              include parts/sidepane
          div.col-xs-9
            +breadcrumbs-bar
            block content
        include parts/footer

