include mixins/navigation
include mixins/widgets
include mixins/elements
include mixins/structures
include mixins/tables

mixin page-title
  if navinfo
    h1= navinfo.title

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='vieport', content='width=device-width, initial-scale=1')
    block stylesheets
      +stylesheet('https://unpkg.com/patternfly/dist/css/patternfly.min.css')
      +stylesheet(appurl('css','style.css'))
    title
      if navinfo && navinfo.title
        | #{navinfo.title} - #{appname}
      else
        | #{appname}
  body
    block body
      div.container-fluid
        include parts/navbar
        div.row
          div#sidepane.col-md-3
            block sidepane
              include parts/sidepane
          div.col-md-9
            div#breadcrumbs
              +breadcrumbs-bar
            block content
        include parts/footer

