include mixins/data
include mixins/entities
include mixins/navigation
include mixins/tables
include mixins/miscellaneous

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='vieport', content='width=device-width, initial-scale=1')
    block stylesheets
      +stylesheet(bootstrap)
      +stylesheet('/css/style.css')
    title
      if navinfo && navinfo.title
        | #{navinfo.title} - #{appname}
      else
        | #{appname}
  body
    block body
      div.container-fluid
        include parts/navbar
        div.row
          div.col-xs-3
            block sidebar
              include parts/sidebar
          div.col-xs-9
            +breadcrumbs
            block content
        include parts/footer

