include mixins/data.pug
include mixins/navigation.pug
include mixins/tables.pug
include mixins/miscellaneous.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='vieport', content='width=device-width, initial-scale=1')
    block stylesheets
      +stylesheet(bootstrap)
      +stylesheet('/css/style.css')
    title
      if nav && nav.title
        | #{nav.title} - #{appname}
      else
        | #{appname}
  body
    block body
      div.container-fluid
        include parts/navbar
        div.row
          div.col-xs-3
            block sidebar
              include parts/sidebar
          div.col-xs-9
            +breadcrumbs
            block content

