/*
 * ssptool - additional styling
 */
ul.toc {
  margin-left: 0pt;
  padding-left: 0pt;
}
ul.toc ul {
  padding-left: 20px;
}
ul.toc li {
  list-style-position: outside;
  list-style-type: none;
  margin: 0px 0px 5px 0px;
}
ul.toc li.toc-open {
  list-style-type: disclosure-open;
}
ul.toc li.toc-closed {
  list-style-type: disclosure-closed;
}
ul.toc > li.toc-closed > ul {
  display: none;
}
.panel ul.toc li {
  list-style-position: inside;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tag {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 6px;
  display: inline-block;
  white-space: nowrap;
}
.tag-planned {
  background-color: #fcf8e3;
  color: #000000;
  border-color: #f9e7c3;
}
.tag-partial {
  background-color: #d9edf7;
  color: #000000;
  border-color: #bce8f1;
}
.tag-complete {
  background-color: #dff0d8;
  color: #000000;
  border-color: #d0e6be;
}
.tag-none {
  background-color: #eeeeee;
  color: #000000;
  border-color: #dcdcdc;
}
.tag-unknown {
  background-color: #f2d3de;
  color: #000000;
  border-color: #eab7d2;
}
.tag-unsatisfied {
  background-color: #f2d3de;
  color: #000000;
  border-color: #eab7d2;
}
div.narrative div.narrative {
  padding-left: 20px;
}
table.identification {
  width: 100%;
  margin: 0pt 0pt 16px 0pt;
}
table.identification th {
  padding: 0 4px;
  width: 15%;
  font-weight: bold;
  text-align: right;
}
table.identification td {
  padding: 0 4px;
}
html {
  overflow-y: scroll;
}
figure {
  text-align: center;
}
figure img {
  max-width: 100%;
}
/*EOF*/
