//- 
//- block-level mixins used in main content
//-
mixin stylesheet(uri)
    link(rel='stylesheet', href=uri)

mixin info-block
  div.alert.alert-success
    block

mixin warning-block
  div.alert.alert-warning
    block

mixin identification-block
  table.identification
    block
mixin identification-item(label, value)
  tr
    th= label
    td= value
mixin identification-heading(label)
  tr
    th= label
    td
      block

mixin narrative-block(narrative)
  div.narrative
    each item in narrative
      +narrative-item(item)
mixin narrative-item(item)
  if item.key
    p.narrative-key: b= item.key
  if item.text
    != markdown(item.text)
  if item.narrative
    +narrative-block(item.narrative)

