//- various tables ...

mixin satisfied(sats)
  table.table
    thead
      tr
        th Component
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td #[+showThe(sat, 'component_key')]
          td= sat.component && sat.component.name
          td #[+showThe(sat, 'implementation_status')]

mixin satisfies(sats)
  table.table
    thead
      tr
        th Control
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td #[+showThe(sat, 'control_key')]
          td= sat.control && sat.control.name
          td #[+showThe(sat, 'implementation_status')]

